body{
    background-color: #E9ECEF;
}
#nav{
    background-color: #002b35;
    padding-left: 8%;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: "Roboto mono",monospace;
    font-size: 1.2rem;
}

#nav-link{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

#header-1{
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: 3px;
    }
    
    #header-2{
    font-size: 1.25rem;
    font-weight: 300;
    }

@media only screen and (max-width: 600px){
    #header-1{
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: 3px;
    }
    
    #header-2{
    font-size: 1.5rem;
    font-weight: 300;
    }
}


a{
    color: rgba(255, 255, 255, 0.6);
}

a:hover{
    color: rgba(255, 255, 255, 0.9);
}

.active{
    color: rgba(255, 255, 255)
}

h1{
    letter-spacing: 3px;
}

.jumbotron{
    margin-bottom: 0;
    padding-bottom: 15px;
}

 .parallax-window {
    min-height: 400px;
    background: transparent;
    }

@media only screen and (max-width: 600px){
   

}

.p{
    margin-top: 3em;
}

